doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 403 | Unauthorized
        link(rel="stylesheet", href="./css/h.css")
    body 
        .h-pail-center.h-bg-red.h-card
            h2.h-text-bold.h-text-white 404
            p.h-text-bold.h-text-white Unauthorized access 
            br
            a.h-button.h-bg-lightblue.h-text-bold.h-text-white(href="/") Return home