doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Bot | Home
        link(rel="stylesheet", href="./css/h.css")
    body 
        .h-pail-center 
            .h-card.h-bg-white 
                h4.h-text-bold.h-text-yellow-white AfricGold Bot
                br
                .h-flex-center 
                    a.h-bg-blight.h-button.h-text-bold.h-text-white(href="/login") Login &nbsp 
                    a.h-bg-lightblue.h-button.h-text-bold.h-text-white(href="/register") Signup